// Font
$mainFont: 'Varela Round', sans-serif;
$secondaryFont: 'Rubik', sans-serif;

// Size
$mainFontColor: #363636;
$mainFontSize: 17px;
$mainFontWeight: 400;
$mainLineHeight: 1;

$lgDesktopWidth: 1440px;
$desktopWidth: 1140px;
$smDesktopWidth: 1024px;
$xsDesktopWidth: 946px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$green-color: #70af00;
$red-color: #db1e46;
$dark-color: #403e44;
$nav-color: #7c5a5b;
